{"metadata":{"language_info":{"name":"python","version":"3.7.12","mimetype":"text/x-python","codemirror_mode":{"name":"ipython","version":3},"pygments_lexer":"ipython3","nbconvert_exporter":"python","file_extension":".py"},"kernelspec":{"name":"python3","display_name":"Python 3 (ipykernel)","language":"python"}},"nbformat_minor":5,"nbformat":4,"cells":[{"cell_type":"code","source":"[[source]]\nname = \"pypi\"\nurl = \"https://pypi.org/simple\"\nverify_ssl = true\n\n[dev-packages]\npytest = \"*\"\n\n[packages]\nseaborn = \"*\"\nnumpy = \"*\"\njupyterquiz\n\n[requires]\npython_version = \"3.9.15\"","metadata":{},"execution_count":null,"outputs":[],"id":"37a134ef-91ec-44f3-b192-8be3ae3d766f"}]}